name: Image to SVG Converter

on:
  workflow_dispatch: # Biar bisa diklik "Run Workflow" manual

jobs:
  convert:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Install Vtracer
        run: |
          cargo install vtracer

      - name: Convert PNG to SVG
        run: |
          mkdir -p output
          vtracer \
            --input input/image_b811fb.png \
            --output output/logo_vector.svg \
            --mode spline \
            --path_precision 3 \
            --corner_threshold 60 \
            --splice_threshold 45
            
      - name: Upload Result
        uses: actions/upload-artifact@v4
        with:
          name: svg-vector-result
          path: output/logo_vector.svg
